
body{

    text-align: center;
    font-family: 'Happy Monkey', system-ui;;
    background: linear-gradient(#A3CEF1,#EFB0C9 );
    color: #E7ECEF ;

}

#profile{
   
    width: 170px;
    border: 6px solid #EACDC2;
    border-radius: 200px;
    margin-bottom: 10px;
    
}

#header{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:60px;
    margin-bottom: 60px;
    text-shadow: 1px 1px 2px black;

}

#age{

    background-color: #EFB0C9;

    padding: 10px 10px;
    border-radius:10px;
    margin-bottom:10px;
    margin-top: 5px ;

}

#date{

    background-color: #EFB0C9;

    padding: 10px 10px;
    border-radius:100px;
    margin: 1px;
    
}

#giftwarp{
    
    margin-top:60px;
    margin-bottom: 60px;

}

.gift-title{

    text-shadow:1px 1px 2px black; ;
}

#click{

        color: black;
        text-shadow: 0px;
}


.gift {

    width:400px;
    height: 400px;
    border: 5px solid #EFB0C9;
    border-radius: 10px;
    background-image: url("images/gift2.gif");
    background-size: cover;

    margin: 40px auto;
}

#gift1:hover {

    background-image: url("/images/Me.gif");
    background-size: cover;
}

#gift2:hover {

    background-image: url("/images/Friends.gif");
    background-size: fill;
}

#gift3:hover {

    background-image: url("/images/goodlook2.gif");
    background-size: cover;
}

#gift4 {

    height:200px;
    width: 400px

}

#gift4:hover {

    background-image: url("/images/toast.gif");
    background-size: cover;

}

#footer{

    font-family: inherit;
    width: 700px;
    font-size: x-large;
    margin: 40px auto 20px auto;
    color: black;
    text-shadow:1px 1px 2px beige;
    font-weight: 100;
    text-decoration: wavy;
    font-style:italic;
     margin-top: 100px;
}